@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.mydiv{
  width: 100%;
  height: 400px;
  background: red;
}